body {
  /*background-color: #000000;*/
  /*background: -webkit-linear-gradient(0deg, #abbaab 10%, #ffffff 90%); /* Chrome 10+, Saf5.1+ */*/
  /*background:    -moz-linear-gradient(0deg, #abbaab 10%, #ffffff 90%); /* FF3.6+ */*/
  /*background:     -ms-linear-gradient(0deg, #abbaab 10%, #ffffff 90%); /* IE10 */*/
  /*background:      -o-linear-gradient(0deg, #abbaab 10%, #ffffff 90%); /* Opera 11.10+ */*/
  /*background:         linear-gradient(0deg, #abbaab 10%, #ffffff 90%); /* W3C */*/
        
        
}



/*INDEX*/

#image-bg{
  width: 100%;
  height: 100%;
  background-image: url("../images/Photo/shoes.JPG");
  position: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  top:0;
  z-index: -1;
  opacity: .2;

}

#image-bg {
  width: 100%;
}

.container-fluid {
  background-color: transparent;
}

#header-body{
  width: 100%;
  /*height: 20%;*/
  background-color: #FFFFFF;
  
  z-index: 1;
  position: fixed;
  top:0;
  padding-left: 0px;
  padding-right: 0px;
  /*padding-top: 10px;*/

  /*background: -webkit-linear-gradient(0deg, transparent 10%, #ffffff 50%); /* Chrome 10+, Saf5.1+ */*/
  /*background:    -moz-linear-gradient(0deg, transparent 10%, #ffffff 50%); /* FF3.6+ */*/
  /*background:     -ms-linear-gradient(0deg, transparent 10%, #ffffff 50%); /* IE10 */*/
  /*background:      -o-linear-gradient(0deg, transparent 10%, #ffffff 50%); /* Opera 11.10+ */*/
  /*background:         linear-gradient(0deg, transparent 10%, #ffffff 50%); /* W3C */*/
}

.header {
  font-size: 45px;
  font-family: "Didot", Times, serif;
  font-variant: small-caps;
  /*font-weight: bold;*/
  color: #abbaab;
  width: 100%;
  margin-right: 2.5%;
}

.header h1 {
  margin-left: 2.5%;
}

.menu-button {
  float:right;
  margin-right: 5px;
  margin-top: 3px;
  font-family: "Didot", Times, serif;
  color: #abbaab;
  font-style: italic;
  font-variant: normal;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  /*box-shadow: 0px 1px 0px #8B0055;*/
    -webkit-transition: all .25s ease-out;  
    -moz-transition: all .25s ease-out;  
    -o-transition: all .25s ease-out;  
    -ms-transition: all .25s ease-out;  
    transition: all .25s ease-out;   
}

.menu-button:hover {
  /*padding-top: 20px;*/
  color: #435952;
  /*background-color: #FFFFFF;*/
  border-right: 1px solid #abbaab;
  border-left: 1px solid #abbaab;
  border-radius: 20%;
  /*border-right: 1px solid #CF0055;*/


  -webkit-transition: all .25s ease-out;  
    -moz-transition: all .25s ease-out;  
    -o-transition: all .25s ease-out;  
    -ms-transition: all .25s ease-out;  
    transition: all .25s ease-out;   
}

#main-body {
  margin-top: 13%;
  font-family: serif;
  margin-left: 10%;
  margin-right: 10%;
}

#main-body p {
  font-family: Georgia, serif;
  /*line-height: 24px;*/
  /*margin-bottom: 7%;*/
  /*margin-top: 7%;*/
  color: #435952;
  text-align: center;
  background-color: transparent;
}

#main-body h2 {
  color: #435952;
  font-size: 24px;
  font-family: "Didot", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.target {
  width: 25%;
  margin-top: 7%;
  margin-bottom: 5%;
  color: #435952;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  font-family: "Didot", sans-serif;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.target a{
  margin-top: 100px;
  padding-top: 20px;
  color: #435952;
  text-decoration: none;
}

/*PORTFOLIO*/

#color-body {
  padding-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

#color-body h1 {
  font-family: "Didot", serif;
  font-size: 20px;
  text-align: center;
  color: #435952;
  text-transform: uppercase;
}


.wrap {
   overflow: hidden;
   margin: 1px;
   padding: 5px;
   border: 1px solid #435952;
}
.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}

.tt-box{
  float: left;
   position: relative;
   width: 50%;
   padding-bottom: 50%;
}

.s-box{
  float: left;
   position: relative;
   width: 33.33%;
   padding-bottom: 33.33%;
}

.l-box{
  float: left;
   position: relative;
   width: 50%;
   padding-bottom: 33%;
}

.tbox {
   float: left;
   position: relative;
   height: 10%;
   padding-bottom: 20%;

}

.boxInner {
   position: absolute;
   left: 2px;
   right: 2px;
   top: 2px;
   bottom: 2px;
   overflow: hidden;
}
.boxInner img {
   width: 104%;
   margin-left: -2%;
}
.boxInner .titleBox {
   position: absolute;
   font-family:"Didot", serif;
   font-style: italic;
   font-size: 12pt;
   height: 100%;
   bottom: 0;
   left: 0;
   right: 0;
   padding-top: 25%;
   background-color: #000000;
   color: #FFFFFF;
   opacity: 0;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

#tbox img {
  height: 100%;
  width: auto;
}

.boxInner .titleBox p{
  text-align: center;
  margin: 10px;
  font-size: 12px;
  font-style: normal;
  font-family: "Georgia", serif;
  }
.boxInner:hover .titleBox {
   margin-bottom: 0px;
   height: 100%;
   opacity: .8;
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
   .label-template {
    text-align: center;
   }
   h5 {
    font-size: 30px;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}

#contact-tgt{
  margin-top: 7%;
  margin-bottom: 4%;
}

.link-box{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  text-align: center;
}

#link{
  font-size: 24px;
  font-family: "Didot", serif;
  font-variant: small-caps;
  text-decoration: none;
  color: #435952;

}

#link a{
  text-decoration: none;
}

#link:hover{
  color: #abbaab;
}
