@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html {
    background: url(../images/stars.png) no-repeat center center fixed; 
    background-size: cover;
}
body {
	background: #191a1b;
}


@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sun {
	width:250px;
	height: 250px;
	position: fixed;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -125px;
	z-index: -1000;


	/*background: -webkit-radial-gradient (yellow, yellow, yellow, #191a1b, #191a1b, #191a1b); /* Safari */
	/*background: -o-radial-gradient(yellow, yellow, yellow, #191a1b, #191a1b, #191a1b); /* Opera */
	/*background: -moz-radial-gradient(yellow, yellow, yellow, #191a1b, #191a1b, #191a1b); /* Firefox */

	/*background: radial-gradient(yellow, yellow, yellow, #191a1b, #191a1b, #191a1b);*/
	background: -webkit-radial-gradient(rgba(255, 255, 0, 1), rgba(255, 255, 0, 1), rgba(255, 255, 0, 0), rgba(255,255,0,0)); /*Safari 5.1-6*/
	background: -o-radial-gradient(rgba(255, 255, 0, 1), rgba(255, 255, 0, 1), rgba(255, 255, 0, 0), rgba(255,255,0,0)); /*Opera 11.1-12*/
	background: -moz-radial-gradient(rgba(255, 255, 0, 1), rgba(255, 255, 0, 1), rgba(255, 255, 0, 0), rgba(255,255,0,0)); /*Fx 3.6-15*/

	background: radial-gradient(rgba(255, 255, 0, 1), rgba(255, 255, 0, 1), rgba(255, 255, 0, 0), rgba(255,255,0,0)); /*Standard*/
}


.mercury {
	width: 30px;
	height: 30px;
	position: fixed;
	background: url(../images/mercury.png);
	background-position: center;
	background-size: 100%;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-left: 89px;
	z-index: 20000;
	-o-animation: spinning 5.8646s infinite linear;
	-moz-animation: spinning 5.8646s infinite linear;
	-webkit-animation: spinning 5.8646s infinite linear;
	animation: spinning 5.8646s infinite linear;
}
.one {
	width: 200px;
	height: 200px;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #ffffff;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	z-index: 999;
}
.box1 {
	position: fixed;
	top:50%;
	left:50%;
	height:100px;
	-o-animation: spinning 8.8s infinite linear;
	-moz-animation: spinning 8.8s infinite linear;
	-webkit-animation: spinning 8.8s infinite linear;
	animation: spinning 8.8s infinite linear;
	margin-top:-50px;
}

.venus {
	width: 75px;
	height: 75px;
	position: fixed;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-top: 110px;
	background: url(../images/venus.png);
	background-position: center;
	background-size: 100%;
	-o-animation: spinning 24.3s infinite linear;
	-moz-animation: spinning 24.3s infinite linear;
	-webkit-animation: spinning 24.3s infinite linear;
	animation: spinning 24.3s infinite linear;
}
.two {
	width: 300px;
	height: 300px;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #ffffff;
	z-index: -1100;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}
.box2 {
	position:fixed;
	height:200px;
	-o-animation: spinning 22.47s infinite linear;
	-moz-animation: spinning 22.47s infinite linear;
	-webkit-animation: spinning 22.47s infinite linear;
	animation: spinning 22.47s infinite linear;
	z-index:-100;
	top:50%;
	left:50%;
	margin-top: -100px;
}

.earth {
	width: 85px;
	height: 85px;
	position: fixed;
	background: url(../images/earth.png);
	background-position: center;
	background-size: 100%;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-left: -270px;
	color: white;
	-o-animation: spinning 2.4s infinite linear;
	-moz-animation: spinning 2.4s infinite linear;
	-webkit-animation: spinning 2.4s infinite linear;
	animation: spinning 2.4s infinite linear;
}
.three {
	width: 470px;
	height: 470px;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #ffffff;
	z-index: -1200;
	top: 50%;
	left: 50%;
	margin-top: -235px;
	margin-left: -235px;
}
.moon {
	color: white;
	top: 50%;
	left: 50%;
	z-index: 1005;
	position:fixed;
	margin-left: -285px;
}
.box3 {
	position: fixed;
	height:200px;
	-o-animation: spinning 36.525s infinite linear;
	-moz-animation: spinning 36.525s infinite linear;
	-webkit-animation: spinning 36.525s infinite linear;
	animation: spinning 36.525s infinite linear;
	top:50%;
	left:50%;
	margin-top: -100px;
}

.mars {
	width: 45px;
	height: 45px;
	position: fixed;
	background: url(../images/mars.png);
	background-position: center;
	background-size: 100%;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-top: -340px;
	-o-animation: spinning 2.437s infinite linear;
	-moz-animation: spinning 2.437s infinite linear;
	-webkit-animation: spinning 2.437s infinite linear;
	animation: spinning 2.437s infinite linear;
}
.four {
	width: 640px;
	height: 640px;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #ffffff;
	z-index: -1300;
	top: 50%;
	left: 50%;
	margin-top: -320px;
	margin-left: -320px;
}
.box4 {
	position: fixed;
	height:200px;
	-o-animation: spinning 68.7s infinite linear;
	-moz-animation: spinning 68.7s infinite linear;
	-webkit-animation: spinning 68.7s infinite linear;
	animation: spinning 68.7s infinite linear;
	top:50%;
	left:50%;
	margin-top: -100px;
}

.jupiter {
	width: 150px;
	height: 150px;
	position: fixed;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-top: -275px;
	margin-left: 315px;
	background: url(../images/jupiter.png);
	background-position: center;
	background-size: 100%;
	-o-animation: spinning 1s infinite linear;
	-moz-animation: spinning 1s infinite linear;
	-webkit-animation: spinning 1s infinite linear;
	animation: spinning 1s infinite linear;
}
.five {
	width: 875px;
	height: 875px;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #ffffff;
	z-index: -1400;
	top: 50%;
	left: 50%;
	margin-top: -437.5px;
	margin-left: -437.5px;
}
.box5 {
	position: fixed;
	height:200px;
	top:50%;
	left:50%;
	margin-top: -100px;
	-o-animation: spinning 434.35s infinite linear;
	-moz-animation: spinning 434.35s infinite linear;
	-webkit-animation: spinning 434.35s infinite linear;
	animation: spinning 434.35s infinite linear;
}

.saturn {
	width: 350px;
	height: 350px;
	position: fixed;
	border-radius: 50%;
	background: url(../images/saturn.png);
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	margin-top: 445px;
	margin-left: -210px;
	-o-animation: spinning 1.0656s infinite linear;
	-moz-animation: spinning 1.0656s infinite linear;
	-webkit-animation: spinning 1.0656s infinite linear;
	animation: spinning 1.0656s infinite linear;
}
.rings {
	width: 350px;
	height: 350px;
	position: fixed;
	border-radius: 50%;
	background: url(../images/rings.png);
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	margin-top: 445px;
	margin-left: -210px;
}
.six {
	width: 1250px;
	height: 1250px;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #ffffff;
	z-index: -1510;
	top: 50%;
	left: 50%;
	margin-top: -625px;
	margin-left: -625px;
}
.box6 {
	position: fixed;
	height:200px;
	-o-animation: spinning 1084.05s infinite linear;
	-moz-animation: spinning 1084.05s infinite linear;
	-webkit-animation: spinning 1084.05s infinite linear;
	animation: spinning 1084.05s infinite linear;
	top:50%;
	left:50%;
	margin-top: -100px;
}

.uranus {
	width: 75px;
	height: 75px;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-top: -790px;
	margin-left: -295px;
	background: url(../images/uranus.png);
	background-position: center;
	background-size: 100%;
	-o-animation: spinning 1.724s infinite linear;
	-moz-animation: spinning 1.724s infinite linear;
	-webkit-animation: spinning 1.724s infinite linear;
	animation: spinning 1.724s infinite linear;
}
.seven {
	width: 1600px;
	height: 1600px;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #ffffff;
	z-index: -1600;
	top: 50%;
	left: 50%;
	margin-top: -800px;
	margin-left: -800px;
}
.box7 {
	position: fixed;
	height:200px;
	-o-animation: spinning 3076.95s infinite linear;
	-moz-animation: spinning 3076.95s infinite linear;
	-webkit-animation: spinning 3076.95s infinite linear;
	animation: spinning 3076.95s infinite linear;
	top:50%;
	left:50%;
	margin-top: -100px;
}

.neptune {
	width: 75px;
	height: 75px;
	position: fixed;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-top: 790px;
	margin-left: 335px;
	background: url(../images/neptune.png);
	background-position: center;
	background-size: 100%;
	-o-animation: spinning 1.91s infinite linear;
	-moz-animation: spinning 1.91s infinite linear;
	-webkit-animation: spinning 1.91s infinite linear;
	animation: spinning 1.91s infinite linear;
}
.eight {
	width: 1800px;
	height: 1800px;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #ffffff;
	z-index: -1700;
	top: 50%;
	left: 50%;
	margin-top: -900px;
	margin-left: -900px;
}
.box8 {
	position: fixed;
	height:200px;
	-o-animation: spinning 6015.2s infinite linear;
	-moz-animation: spinning 6015.2s infinite linear;
	-webkit-animation: spinning 6015.2s infinite linear;
	animation: spinning 6015.2s infinite linear;
	top:50%;
	left:50%;
	margin-top: -100px;
}

.pluto {
	width: 30px;
	height: 30px;
	position: fixed;
	border-radius: 50%;
	background: url(../images/pluto.gif);
	background-position: center;
	background-size: 100%;
	top: 50%;
	left: 50%;
	margin-left: -1015px;
	-o-animation: spinning 1.533s infinite linear;
	-moz-animation: spinning 1.533s infinite linear;
	-webkit-animation: spinning 1.533s infinite linear;
	animation: spinning 1.533s infinite linear;
}
.nine {
	width: 2000px;
	height: 2000px;
	position: fixed;
	border-radius: 50%;
	border: 1px solid #ffffff;
	z-index: -1800;
	top: 50%;
	left: 50%;
	margin-top: -1000px;
	margin-left: -1000px;
}
.box9 {
	position: fixed;
	height:200px;
	-o-animation: spinning 9052s infinite linear;
	-moz-animation: spinning 9052s infinite linear;
	-webkit-animation: spinning 9052s infinite linear;
	animation: spinning 9052s infinite linear;
	top:50%;
	left:50%;
	margin-top: -100px;
}





/*#ss {
	height:1100px;
	-o-animation: spinning 36.5s infinite linear;
	-moz-animation: spinning 36.5s infinite linear;
	-webkit-animation: spinning 36s infinite linear;
	animation: spinning 36.5s infinite linear;
}*/










